.scrollPaneLabels{
    -fx-font-family: 'Inknut Antiqua', sans-serif;
    -fx-font-size: 15px;
    -fx-text-fill: #FFFFFF
}

.scroll-pane > .viewport{
    -fx-background-color: #221f1f;
}

.compulsoryflix{
    -fx-font-family: 'Kanit', sans-serif;
    -fx-font-weight: 600;
    -fx-font-style: italic;
    -fx-font-size: 30px;
    -fx-text-fill: #e50914;
    -fx-translate-y: -50%;
}

.movieLabels
{
    -fx-font-family: 'Inknut Antiqua';
    -fx-font-size: 9px;
    -fx-text-fill: #e50914;
}